.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
  }
.fade-enter, .fade-leave-to /* .fade-leave-active in below version 2.1.8 */ {
    opacity: 0
}

  /* css 过渡 */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
} 
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

/* CSS动画 */
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0); 
    }
    50% {
        transform: scale(1.5); 
    }
    100% {
        transform: scale(1); 
    }
}

/* 多个组件的过渡 */
.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to {
    opacity: 0;
}

/* 列表的进入/离开过渡 */
.list-item {
    display: inline-block;
    margin-right: 10px;
    transition: all 1s;
}
.list-leave-active {
    position: absolute;
}
.list-enter, .list-leave-to {
    opacity: 0;
    transform: translateY(30px);
}
/* .list-move {
    transition: transform 1s;
} */

/* 列表的排序过渡? 上面的设置 不明白 和原来不自然过渡的区别 */
.flip-list-move {
    transition: transform 1s;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 238px;
    margin-top: 10px;
}
.cell {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 1px solid #aaa;
    margin-right: -1px;
    margin-bottom: -1px;
}
.cell:nth-child(3n) {
    margin-right: 0;
  }
.cell:nth-child(27n) {
    margin-bottom: 0;
}
.cell-move {
    transition: transform 1s;
}

/* 列表的交错过渡 */
.staggered-fade-move {
    transition: transform 1s;
}